body{
    background: url(../img/background.jpg) no-repeat center center fixed;
    background-size: cover;
    box-sizing: border-box;
    color: white;
}
#container {
    padding: 20px;
    margin-top: 100px;
}
#mini-nav{
    display: -webkit-flex;
    border-bottom: 2px solid #8e93bd;
    width: 70%;
    margin: auto;
    padding: 10px;
    justify-content: space-around;
}
.nav-btns button{
    padding: 10px;
    width: 80px;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    border: 2px solid #8e93bd;
}
.nav-btns button:hover{
    background-color: #8e93bd;
    cursor: pointer;
}
.nav-btns button:active{
    background-color:#63699b;
}
#add{
    width: 30%;
    margin: 40px auto;
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: transparent;
    border: 2px solid #8e93bd;
    border-radius: 5px;
    color: white;
    box-sizing: border-box;
}
input[type=submit] {
    width: 30%;
    background-color: transparent;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid #8e93bd;;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #63699b;
}